/*Reset de estilos*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.imagen_back_header{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
    z-index: 0;
}
.padre
{
    display: flex;
   
}

#menu_logo{
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: solid 5px;
   
}

.logo_principal{
    width: 150px;
    height: auto;
    margin: 2px;
  
    
}

.menu_principal{
    display: block;
    list-style: none;
    flex-basis: 50%;
    font-family: 'ADLaM Display', cursive;
    padding-left: 400px;
   
}


.menu_principal ul li{
    display: inline;
    margin-right: 50px;
}

.menu_principal ul li a{    
    text-decoration: none;
    color: rgb(45, 44, 107);
    font-weight: bold;
}

.hero{
    font-family: 'ADLaM Display', cursive;
    font-weight: 800;
    margin-left: 10px;
    font-size: 20px;
}



